button {
    border: none;
    background: none;
    font-size: 2.2rem;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s;
  }

button:hover,
button:focus {
  outline: none;
  color: #777;
}

.buttons {
  text-align: center; 
  position:relative; 
  width: 100%; 
  border-width: 1px 0 0 0;
}